<div class="rk-name-box">
  <i class="material-icons profile">face</i>
  <div class="rk-nameplate">
  <h3 class="rk-friend-name">{{ (friend | async)?.displayName }}</h3>
  <span class="rk-status">Last online at 10.20 am</span>
</div>
<div class="rk-name-options">
  <i class="material-icons menu">search</i>
<i class="material-icons menu">attach_file</i>
<i class="material-icons menu">more_vert</i>
</div>
</div>
<div class="rk-chatsend">
<div class="rk-chat-area">
  <div class="rk-chat-box">
    <div class="rk-chat">
      <div class="chatout">
        <span class="message"> Hello!</span>
        <span class="timestampout">09.00 am</span>
      </div>
      <div class="chatin">
        <span class="message"> Hello</span>
        <span class="timestampin">09.02 am</span>
      </div>
      <div class="chatout">
        <span class="message"> How are you?</span>
        <span class="timestampout">09.03 am</span>
      </div>
      <div class="chatin">
        <span class="message"> I'm fine!</span>
        <span class="timestampin">09.05 am</span>
      </div>
      <div class="chatout">
        <span class="message"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</span>
        <span class="timestampout">09.10 am</span>
      </div>
      <div class="chatin">
        <span class="message"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</span>
        <span class="timestampin">09.10 am</span>
      </div>
      <div class="chatout">
        <span class="message"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</span>
        <span class="timestampout">09.10 am</span>
      </div>
      <div class="chatin">
        <span class="message"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</span>
        <span class="timestampin">09.10 am</span>
      </div>
      <div class="chatout">
        <span class="message"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</span>
        <span class="timestampout">09.10 am</span>
      </div>
      <div class="chatin">
        <span class="message"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</span>
        <span class="timestampin">09.10 am</span>
      </div>
      <div class="chatout">
        <span class="message"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</span>
        <span class="timestampout">09.10 am</span>
      </div>
      <div class="chatin">
        <span class="message"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</span>
        <span class="timestampin">09.10 am</span>
      </div>
      <div class="chatout">
        <span class="message"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</span>
        <span class="timestampout">09.10 am</span>
      </div>

      <div class="incoming">
        <div class="pen">
          <i class="material-icons">
            create
          </i>
        </div>
        <div class="line">
          <div class="box1"></div>
          <div class="box2"></div>
          <div class="box3"></div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="sendarea">
  <div class="emoji">
    <span class="material-icons send">emoji_emotions</span>
  </div>
  <div class="emoji">
    <span class="material-icons send">star</span>
  </div>
  <input>
  <div class="emoji">
    <span class="material-icons send">send</span>
  </div>
</div>
</div>