@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


.rk-name-box{
    width: 100%;
    background: #cddfff;
    padding: 10px 50px;
    transition: 1s;
    height: 12%;
}

.rk-chat-area{
  height: 65%;
  padding: 100px;
  overflow-y: scroll;
  padding: 0;
  margin: 0 auto;
}

.chatbox{
    /* background-size: 100% auto; */
    /* background-blend-mode: overlay; */
    width: 100%;
    height: auto;
    background-color: #424141;
    display: flex;
    flex-direction: column;

}

.chat{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-self: flex-end;
}

.chat::-webkit-scrollbar {
    display: none;
  }

.chatin{
  align-self: flex-start;
  margin: 5px;
  background-color: #222222;
  padding: 5px;
  align-items: center;
  border-radius: 10px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  max-width: 60%;
  min-height: 25px;
  display: table;
}

.chatout{
  align-self: flex-end;
  margin: 5px;
  background-color: forestgreen;
  padding: 5px;
  display: table;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  border-radius: 10px 10px 0px 10px;
  min-height: 25px;
  height: auto;
}

.message{
    font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  color: white;
  display: table-row;
}

.timestampin{
    font-family: 'Montserrat';
    font-size: 7px;
    font-weight: 500;
    color: white;
    align-self: flex-start;
    display: table-row;
}

.timestampout{
    font-family: 'Montserrat';
    font-size: 7px;
    font-weight: 500;
    color: white;
    align-self: flex-end;
    display: table-row;
    text-align: right;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  color: white;
}

.material-icons.send{
font-size: 18px;
 text-align: center;
 flex: 1;
}

.line{
margin-top: -20px;
}
.box1{
  display: inline-block;
  height: 5px;
  width: 5px;
  background-color: white;
  opacity: 0;
  animation: box1 1.5s infinite;
    animation-timing-function: ease-out; 
 animation-fill-mode: forwards;
  border-radius: 1.5px;
}
.box2{
  display: inline-block;
  height: 5px;
  width: 5px;
   background-color: white;
  animation-delay: 0.5s;
  animation: box2 1.5s infinite;
    animation-timing-function: ease; 
 animation-fill-mode: forwards;
   border-radius: 1.5px;
}
.box3{
  display: inline-block;
  height: 5px;
  width: 5px;
  background-color: white;
  animation-delay: 1s;
  animation: box3 1.5s infinite;
    animation-timing-function: ease; 
 animation-fill-mode: forwards;
   border-radius: 1.5px;
}

.pen{
  margin-left: -3.1px;
  margin-bottom: 5px;
  animation: pen1 1.5s infinite;
  animation-timing-function: ease; 
 animation-fill-mode: forwards;
}

@keyframes pen1{
  from{margin-left: -3.1px;}
  to{margin-left: 15px;}
}

@keyframes box1{
  0%{opacity:0;}
  33%{opacity:1;}
}

@keyframes box2{
   0%{opacity:0;}
  33%{opacity:0;}
  66%{opacity:1;}
  100%{opacity:0;}
}

@keyframes box3{
   0%{opacity:0;}
  33%{opacity:0;}
  66%{opacity:0;}
  100%{opacity:1;}
}


.incoming{
  align-self: flex-start;
  margin: 5px;
  background-color: #222222;
  padding: 5px;
  align-items: center;
  overflow: hidden;
  min-height: 10px;
  border-radius: 10px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  min-width: 50px;
  min-height: 25px;
}

.sendarea{
width: 45%;
margin: 5px;
height: 7.5%;
display: flex;
flex-direction: row;
padding: 5px;
position: fixed;
}

input{
    flex: 6;
    margin: 2px;
    height: 35px;
    align-self: center;
    border-radius: 50px;
    border: none;
    padding: 10px;
    word-wrap: break-word;
    overflow-y: auto;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
}

.btn{
   width: 35px;
   height: 35px;
   border-radius: 50%;
    background-color: teal;
    margin: 2px;
    margin-right:10px;
    align-self: center;
    text-align: center;
    display: flex;
}

.emoji{
    border-radius: 50%;
    background-color: white;
    padding: 7px;
    margin: 2px;
    align-self: center;
    display: flex;
 }

 .emoji span{
   font-size: 170%;
  color: #393e41;
}