.thema-surya {
    --menu-icons: rgb(255, 255, 255);
    /* --menu-icons-bg: rgb(0, 123, 255); */
    /* --menu-icons-bl: rgba(3, 38, 102, 0.612); */

    --menu-icons-select: rgb(255, 255, 255);
    --menu-icons-bg-select: #00000023;
    --menu-icons-bl-select: #222222;
}

.thema-surya:hover {
    --menu-icons: rgb(255, 255, 255);
    --menu-icons-bg: #00000023;
    /* --menu-icons-bl: rgba(3, 38, 102, 0.612); */

    --menu-icons-select: rgb(255, 255, 255);
    --menu-icons-bg-select: #00000023;
    /* --menu-icons-bl-select: rgba(3, 38, 102, 0.612); */
}

.thema-chandra {
    --menu-icons: rgb(192, 205, 212);
    /* --menu-icons-bg: rgb(0, 123, 255); */
    /* --menu-icons-bl: rgba(3, 38, 102, 0.612); */

    --menu-icons-select: rgb(255, 255, 255);
    --menu-icons-bg-select: rgb(0, 123, 255);
    --menu-icons-bl-select: rgba(3, 38, 102, 0.612);
}

.thema-chandra:hover {
    --menu-icons: rgb(255, 255, 255);
    --menu-icons-bg: rgb(0, 123, 255);
    /* --menu-icons-bl: rgba(3, 38, 102, 0.612); */

    --menu-icons-select: rgb(187, 192, 195);
    --menu-icons-bg-select: rgba(0, 123, 255, 0.8);
    /* --menu-icons-bl-select: rgba(3, 38, 102, 0.612); */
}

.rk-menu-icons a{
    text-decoration: none;
    color: var(--menu-icons);
    background-color: var(--menu-icons-bg);
    border-left: 7.5px solid var(--menu-icons-bl);

    padding: 0;     
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    transition: 0.2s;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.rk-menu-icons a.selected{
    color: var(--menu-icons-select);
    background-color: var(--menu-icons-bg-select);
    border-left: 5px solid var(--menu-icons-bl-select);
    /* border-radius: 0 10px 10px 0; */
}

.rk-menu-icons a:first-child{
    margin-top: 20px;
    margin-bottom: 80px;
}

.rk-menu-icons a:last-child{
    margin-bottom: 20px;
    margin-top: 300%;
}



.rk-menu-icons a span{
    font-size: 2rem;
}

@media only screen and (max-width: 800px) {

  }
