<div class="rk-micons">
  <a routerLink="/profile">
    <span class="material-icons">
      account_box
    </span>
  </a>

  <a routerLink="/global">
    <span class="material-icons">
      public
    </span>
  </a>

  <a routerLink="/private">
    <span class="material-icons">
      person
    </span>
  </a>

  <a routerLink="/common">
    <span class="material-icons">
      group
    </span>
  </a>

  <a routerLink="/settings">
    <span class="material-icons">
      settings
    </span>
  </a>
</div>
