<div class="rk-container {{storedTheme}} row">

  <div class="rk-mcol-a {{storedTheme}} {{storedLang}} col-1">
    <app-menu></app-menu>
  </div>
  <div class="rk-mcol-b {{storedTheme}} {{storedLang}} col-3">
    <router-outlet></router-outlet>
  </div>

  <div class="rk-mcol-c {{storedTheme}} {{storedLang}} col-8">
    <nav class="rk-navbar navbar navbar-expand-lg {{storedTheme}} navbar-light">
      <a class="navbar-brand" href="#">{{ 'rivi-k' | translate }}</a>
    <img class="rk-change-theme-img {{storedTheme}}" alt="">

      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">{{ 'appComponent.info' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="rk-nav-logoholder">
        <img class="rk-nav-logo" src="../assets/images/IconC.png" alt="">
      </div>
    </nav>
    <div class="rk-chatbox" style="height: 100%;">
      <router-outlet name="chatbox"></router-outlet>
    </div>
  </div>
</div>
