@font-face {
    font-family: OpenMoji;
    src: url('../assets/fonts/OpenMoji-Color.ttf')
    format('ttf');
}

.thema-surya {
    --main-bg-color: rgba(255, 255, 255, 0.8);
    --col-a-bg: rgba(255, 255, 255, 0.9);
    --col-b-bg: rgba(230, 230, 230, 0.85);
    --col-c-bg: rgba(195, 195, 195, 0.5);
    --navbar-bg: rgba(252, 250, 250, 0.9);
}

.thema-chandra {
    --main-bg-color: rgba(0, 0, 0, 0.8);
    --col-a-bg: rgba(0, 0, 0, 0.9);
    --col-b-bg: rgba(14, 14, 14, 0.85);
    --col-c-bg: rgba(60, 60, 60, 0.5);
    --navbar-bg: rgba(0, 0, 0, 0.9);
}

.si{
    font-family: 'Abhaya Libre', serif;
}

.en{
    font-family: 'Montserrat', sans-serif;
}

.ta{
    font-family: 'Mukta Malar', sans-serif;
}

.rk-container{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: var(--main-bg-color);
}

.rk-mcol-a{
    width: 100%;
    background-color: var(--col-a-bg);
    text-align: center;
    padding: 0px;
}

.rk-mcol-b{
    background-color: var(--col-b-bg);
}

.rk-mcol-c{
    padding: 0px;
    background-color: var(--col-c-bg);
    height: 100%;
}

.rk-navbar{
    width: 100%;
    padding: 10px;
    background-color: var(--navbar-bg);
    flex-wrap: initial;
}

.rk-nav-logoholder{
    width: 100%
}

.rk-nav-logo{
    float: right;
    width: 70px;
}

.rk-chat-box{
    height: 100%;
}