<div class="rk-container {{storedTheme}} row">
  <div class="rk-mcol-a {{storedTheme}} col-1">
    <app-menu></app-menu>
  </div>
  <div class="rk-mcol-b {{storedTheme}} col-3">
    <router-outlet></router-outlet>
  </div>
  <div class="rk-mcol-c {{storedTheme}} col-8">
    <nav class="rk-navbar navbar navbar-expand-lg {{storedTheme}} navbar-light">
      <a class="navbar-brand" href="#">rivi - k 😁</a>
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">info</a>
          </li>
          <button class="rk-login btn btn-secondary" (click)="switchTheme()">Change Theme</button>
        </ul>
      </div>
      <div class="rk-nav-logoholder">
        <img class="rk-nav-logo" src="../assets/images/IconC.png" alt="">
      </div>
    </nav>
    <div class="rk-chatbox" style="height: 100%;">
      <router-outlet name="chatbox"></router-outlet>
    </div>
  </div>
</div>
