.rk-chat-container{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.3);
}

.rk-mcol-a{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 0px;
}

.rk-mcol-b{
    background-color: rgba(230, 230, 230, 0.85);
    font-family: 'Montserrat', sans-serif;
}

.rk-mcol-c{
    padding: 0px;
    background-color: rgba(195, 195, 195, 0.2);
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.rk-navbar{
    width: 100%;
    padding: 20px 30px;
    background-color: rgba(252, 250, 250, 0.9);
}

.rk-nav-logoholder{
    width: 100%
}

.rk-nav-logo{
    float: right;
    width: 70px;
}

.rk-chat-box{
    height: 100%;
}