<div class="rk-chat-container row">
  <div class="rk-mcol-a col-1">
    <app-menu></app-menu>
  </div>
  <div class="rk-mcol-b col-3">
    <router-outlet></router-outlet>
  </div>
  <div class="rk-mcol-c col-8">
    <nav class="rk-navbar navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" href="#">RIVI</a>
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">info</a>
          </li>
        </ul>
      </div>
      <div class="rk-log" *ngIf="auth.user$ | async as user ; else showLogin">
        <button class="rk-logout btn btn-secondary" (click)="auth.signOut()">Logout</button>
        <img class="rk-userimg" [src]="user.photoURL" alt="noImg">
        <h6 class="rk-username">{{ user.email }}</h6>
      </div>
      <ng-template #showLogin>
        <div class="rk-log">
          <button class="rk-login btn btn-secondary" (click)="auth.googleSignin()">Login with Google</button>
        </div>
      </ng-template>
    </nav>
    <div class="rk-chatbox">
      
      
    </div>
  </div>
</div>
