.rk-chat-topic{
    text-align: center;
    margin-top: 25px;
}

.rk-logout{
    margin: 10px auto;
    display: block;
    width: 50%;
}

.rk-userimg{
    margin: 20px auto;
    width: 80px;
    border-radius: 10%;
    display: block;
    width: 50%;
}

.rk-username{
    text-align: center;
}

.rk-email{
    text-align: center;
    font-size: 80%;
}

.rk-login{
    margin: 10px auto;
    display: block;
    width: 70%;
}

.rk-chatbox{
    width: 100%;
}