<h2 class="rk-menu-topic {{storedTheme}}">{{ title | uppercase }}</h2>

<div *ngIf="auth.user$ | async as user ; else showLogin" class="rk-user-section {{storedTheme}}">
  <img class="rk-userimg {{storedTheme}}" [src]="user.photoURL" alt="noImg">
  <h6 class="rk-username">{{ user.displayName }}</h6>
  <h6 class="rk-email">({{ user.email }})</h6>
  <button class="rk-logout btn {{storedTheme}}" (click)="auth.signOut()">Logout</button>
  <div class="rk-change-theme">
    <img class="rk-change-theme-img {{storedTheme}}" alt="">
    <button class="rk-change-theme-btn btn {{storedTheme}}"  (click)="switchTheme()">Change Theme</button>
  </div>
  {{change}}
  <!-- Still Developing -> -->
  <div>
    <button class="rk-change-name btn  {{storedTheme}}">Change Name</button>
  </div>
  <div>
    <button class="rk-login btn btn-danger">Remove Account</button>
  </div>
</div>
<ng-template #showLogin>
  <div>
    <button class="rk-login btn btn-secondary" (click)="auth.googleSignin()">Login with Google</button>
  </div>
</ng-template>