.thema-surya {
    --color: rgb(255, 255, 255);
    --font: rgb(57, 62, 65);
    --button: rgb(195, 195, 195);
    --btn-theme: rgb(255, 255, 255);
    --theme-selected: rgba(255, 255, 255, 0.831);
}

.thema-surya:hover {
    --button: rgb(211, 211, 211);
    --btn-theme: rgb(46, 46, 46);
}

.thema-chandra {
    --color: rgb(0, 0, 0);
    --font: rgb(207, 213, 218);
    --button: rgb(41, 42, 44);
    --btn-theme: rgb(0, 0, 0);
    --theme-selected: rgba(44, 44, 44, 0.831);
}

.thema-chandra:hover {
    --button: rgb(151, 151, 151);
    --btn-theme: rgb(226, 226, 226);
}

.rk-profile{
    overflow-y: scroll;
    height: 600px;
}

.rk-menu-topic{
    color: var(--font);
    text-align: center;
    margin-top: 25px;
}

.rk-user-section{
    color: var(--font);
}

.rk-userimg{
    margin: 20px auto;
    width: 80px;
    border: 5px solid var(--color);
    border-radius: 10%;
    display: block;
    width: 50%;
    box-shadow: #6e6e6e 2px 2px 20px 0;
}

.rk-username{
    text-align: center;
    text-shadow: #6e6e6e 0px 0px 18px;
}

.rk-email{
    text-align: center;
    font-size: 0.7rem;
    text-shadow: #6e6e6e 0px 0px 18px;
}

.rk-logout{
    margin: 10px auto;
    display: block;
    width: 50%;
    background: var(--button);
    color: var(--font);
    border: 0px;
    transition: 0.4s;
}

.rk-change-theme{
    margin: 50px auto 10px;
    display: block;
    width: 100%;
}

.rk-change-theme-select{
    background-color: var(--theme-selected);
    padding: 10px;
    border-radius: 10px;
}

.rk-change-theme-img{
    width: 100px;
    border-radius: 8px;
}

.rk-change-theme-text{
    font-size: 0.8rem;
    margin-left: 10px;
    display: inline-block;
}

.rk-change-theme-btn{
    margin: 10px auto;
    background: var(--btn-theme);
    color: var(--font);
    transition: 0.4s;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
}

.rk-change-language{
    margin: 10px auto 10px;
    display: block;
    width: 100%;
}

.rk-change-lang-btns{
    display: block;
    width: 100%;
}

.rk-change-lang-btn{
    margin: 10px auto;
    background: var(--btn-theme);
    color: var(--font);
    transition: 0.4s;
    padding: 10px;
}

.rk-change-lang-btn:nth-child(1){
    border-radius: 8px 0 0 8px;
}

.rk-change-lang-btn:nth-child(2){
    border-radius: 0;
}

.rk-change-lang-btn:nth-child(3){
    border-radius: 0 8px 8px 0;
}


.rk-change-name{
    margin: 10px auto;
    display: block;
    width: 50%;
    background: var(--button);;
    color: var(--font);
    transition: 0.4s;
    transition: 0.4s;
    padding: 10px;
    border-radius: 8px;
}

.rk-login{
    margin: 10px auto;
    display: block;
    width: 70%;
}