.rk-chat-topic{
    text-align: center;
    margin-top: 25px;
}

.rk-users{
    width: 100%;
    height: 150px;
    overflow: hidden;
    overflow-y:scroll;
    padding: 0;
    margin: 0 auto;
}

.rk-users li{
    list-style: none;
    margin: 5px;
    transition: 0.2s;
}

.rk-users li:hover{
    background-color: #6ca0ff9c;
    padding: 5px;
    border-radius: 5px;
}

.rk-user-img{
    width: 35px;
    border-radius: 10%;
}

.rk-selected-user{
    background-color: #6ca0ff;
    border-radius: 5px;
    padding: 5px;
}

.rk-suser-img{
    width: 50px;
    border-radius: 5px;
}